- type: monitor
  title: Core Infrastructure
  cache: 1m
  collapse-after: 3
  sites:
    - title: Proxmox
      url: https://10.10.10.20:8006
      icon: si:proxmox
      allow-insecure: true
    - title: Synology NAS
      url: https://10.10.10.100:5001
      icon: si:synology
      allow-insecure: true
    - title: Traefik
      url: http://10.10.10.110:8080
      icon: si:traefikproxy
    - title: AdGuard
      url: http://10.10.10.110:3000
      icon: si:adguard
    - title: Authentik
      url: http://10.10.10.110:9000
    - title: Portainer
      url: https://10.10.10.112:9443
      icon: si:portainer
      allow-insecure: true
    - title: Grafana
      url: http://10.10.10.112:3000
      icon: si:grafana
    - title: Home Assistant
      url: http://10.10.10.116:8123
      icon: si:homeassistant

- type: monitor
  title: Databases
  cache: 1m
  collapse-after: 1
  sites:
    - title: MinIO Console
      url: http://10.10.10.111:9002
      icon: si:minio

- type: monitor
  title: Media Services
  cache: 1m
  collapse-after: 2
  sites:
    - title: Plex
      url: http://10.10.10.113:32400
      icon: si:plex
    - title: Overseerr
      url: http://10.10.10.113:5055
    - title: Sonarr
      url: http://10.10.10.113:8989
      icon: si:sonarr
    - title: Radarr
      url: http://10.10.10.113:7878
      icon: si:radarr
    - title: Prowlarr
      url: http://10.10.10.113:9696
    - title: SABnzbd
      url: http://10.10.10.113:8085
    - title: qBittorrent
      url: http://10.10.10.113:8080
    - title: Bazarr
      url: http://10.10.10.113:6767
    - title: Tautulli
      url: http://10.10.10.113:8181
    - title: Notifiarr
      url: http://10.10.10.113:5454

- type: monitor
  title: Development
  cache: 1m
  collapse-after: 1
  sites:
    - title: Gitea
      url: http://10.10.10.114:3001
      icon: si:gitea
    - title: Coolify
      url: http://10.10.10.101:8000
