server:
  port: 8080

theme:
  background-color: 222 47 11   # Dark blue-gray (HSL)
  primary-color: 239 84 67      # Indigo (HSL)
  contrast-multiplier: 1.2

pages:
  - name: Homelab
    columns:
      # LEFT COLUMN: System & Infrastructure
      - size: small
        widgets:
          - $include: widgets/system.yml
          - $include: widgets/infrastructure.yml
          - $include: widgets/feeds.yml

      # CENTER COLUMN: Media Automation
      - size: full
        widgets:
          - $include: widgets/media-downloads.yml

      # RIGHT COLUMN: Media Services & Status
      - size: small
        widgets:
          - $include: widgets/media-services.yml
          - $include: widgets/monitors.yml
